body {
    background-color: #141414;
}

nav {
    margin-bottom: 10rem;
}

.ratings-button {
    background-color: #333333;
}

.edit-button {
    background-color: transparent;
    color: #333333;
    border-color: #333333;
}

.edit-button:hover {
    border-color: white !important;
}
#autoplay-next {
    display: none;
}

.custom-checkbox {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 2px solid #333333;
    cursor: pointer;
    position: relative;
}

#autoplay-next:checked + .custom-checkbox::after {
    content: '✔';
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 18px;
}
#autoplay-next-2 {
    display: none;
}

.custom-checkbox-2 {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 2px solid #333333;
    cursor: pointer;
    position: relative;
}

#autoplay-next-2:checked + .custom-checkbox-2::after {
    content: '✔';
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 18px;
}

.last-buttons:hover {
    background-color: white;
    color: black;
}